<footer id="contato">
  <div class="container">

    <div class="row text-center-mobile">
      <div class="col-sm-8">
        <p>&copy; 2015 Todos os direitos reservados.</p>
      </div>
      <div class="col-sm-4 text-right text-center-mobile">
        <ul class="social-footer">
          <li><a href="http://recursivejr.github.io/blog" title="blog" target="_blank"><i class="fa fa-quote-right"></i></a></li>
          <li><a href="https://www.facebook.com/recursivejunior" title="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="https://twitter.com/recursivejr" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://instagram.com/recursive_jr" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
