<section class="about">
    <div class="row">
        <div class="about-photo col-sm-2">
          <img src="{{ site.absolute_url }}/images/equipe/douglas.jpg">
        </div>
        <div class="about-text col-sm-10">
        	<h4>Douglas Gabriel</h4>
          <a href="http://douglasgabriel.github.io/" title="blog" target="_blank"><i class="fa fa-quote-right"></i></a>
          <a href="https://github.com/douglasgabriel" title="github" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/pub/douglas-gabriel/a4/618/574" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.facebook.com/douglas.gabriel.18" title="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
        	<p>Técnico em Informática e Graduando em Análise e Desenvolvimento de Sistemas pelo IFPB - Campus Cajazeiras, Diretor Presidente
          da Recursive Jr na gestão 2015. Sou um apaixonado pela área da computação e tudo o que ela envolve, além disto, sou um completo
          entusiasta da minha condição de eterno aprendiz.</p>
        </div>
    </div>
</section>
