<section class="about">
    <div class="row">
        <div class="about-photo col-sm-2">
          <img src="{{ site.absolute_url }}/images/equipe/michelle.jpg">
        </div>
        <div class="about-text col-sm-10">
        	<h4>Michelle Oliveira</h4>
          <a href="http://miolivc.github.io/" title="blog" target="_blank"><i class="fa fa-quote-right"></i></a>
          <a href="https://github.com/miolivc" title="github" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/miolivc" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.facebook.com/miolivc" title="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
        	<p>Graduanda em Análise e Desenvolvimento de Sistemas pelo IFPB - Campus Cajazeiras, Diretora de Qualidade
          da Recursive Jr na gestão 2015 e de Recursos Humanos na gestão 2016 e 2017. Sou um apaixonado pela área da computação e tudo o que ela envolve, além de uma grande fã da cultura Pop/Geek (animes, jogos, etc).</p>
        </div>
    </div>
</section>
