<section class="about">
    <div class="row">
        <div class="about-photo col-sm-2">
          <img src="{{ site.absolute_url }}/images/equipe/rafael.jpg">
        </div>
        <div class="about-text col-sm-10">
        	<h4>Rafael Tavares</h4>
          <a href="https://github.com/RafaelTavares95" title="github" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/rafaeltavaresrufino" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.facebook.com/rafael.tavares.39108" title="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://twitter.com/Rafa_cz" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        	<p>Técnico em informática, graduando em Análise e Desenvolvimento de Sistemas pelo IFPB, 19 anos. Sou um entusiasta tecnológico, possuo certo fascínio pelo novo e diferente, vejo a Recursive como uma excelente oportunidade para aprimorar meus conhecimentos e uma porta de entrada para a compreensão do mercado de trabalho ao qual em breve devo adentrar-me.</p>
        </div>
    </div>
</section>
