<section class="about">
    <div class="row">
        <div class="about-photo col-sm-2">
          <img src="{{ site.absolute_url }}/images/equipe/rodrigo.jpg">
        </div>
        <div class="about-text col-sm-10">
        	<h4>Rodrigo Freitas</h4>
          <a href="http://rodrigodfreitas.github.io/" title="blog" target="_blank"><i class="fa fa-quote-right"></i></a>
          <a href="https://github.com/rodrigodfreitas" title="github" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/rodrigodfreitas" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.facebook.com/rodrigo.o.d.freitas?__mref=message_bubble&_rdr=p" title="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
        	<p>Graduando em Análise e Desenvolvimento de Sistemas do IFPB - Campus Cajazeiras, ex-intercambista através do Ciência sem Fronteiras (CsF),onde fez Ciências da Computação na Western Illinois University (WIU) nos Estados Unidos, nesse período foi duas vezes para lista dos melhores alunos, a chamada Dean's List. Em poucas palavras, um rapaz compromissado com o que gosta e apaixonado pela computação.</p>
        </div>
    </div>
</section>
